{% extends "base.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div style='width: 30%;margin: auto; color: white;' class="alert mt-3 alert-dismissible fade show {% if message.tags == 'error' %}bg-danger{% elif message.tags == 'success' %}bg-success{% endif %}" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  
{% endif %}


<h2>this home page {{cars|length}}</h2>



<div class='d-flex'>
{% for brand in car_brands %}
<a class='btn m-5'>{{brand}}</a>
{% endfor %}
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 container mx-auto">
    {% for car in cars %}
    <div class="col">
        <div class="card h-100 bg-light bg-gradient ">
          <img src="{{ car.car_image.url }}" class="card-img-top p-2 rounded " alt="..." style='height: 250px;'>
          <div class="card-body">
            <h5 class="card-title">{{car.name}}</h5>
            <p class="card-text ">Price: {{car.price}}$</p>
            <a href="#" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    
        
      

    {% endfor %}
</div>

{% endblock content %}