{% extends "base.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div style='width: 30%;margin: auto; color: white;' class="alert mt-3 alert-dismissible fade show {% if message.tags == 'error' %}bg-danger{% elif message.tags == 'success' %}bg-success{% endif %}" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  
{% endif %}


<h2>this home page {{cars|length}}</h2>



<div class='d-flex'>
{% for brand in car_brands %}
<h3>{{brand}}</h3>
{% endfor %}
</div>

{% endblock content %}