{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  
{% endif %}





<form class='my-5' method='post' novalidate style='width: 50%; margin:auto;'>
    <h2> Please {{type}}</h2>
    {% csrf_token %}

    {% if form.non_fields_errors %}
    
    {% for er in form.non_fields_errors %}
    
    <p>{{er}}</p>
    
    {% endfor %}

    {% endif %}

    <!--{{form| crispy}}-->

    {% for fm in form %}
    <div>{{fm.label_tag}}
        {{fm}}
        {{fm.errors|striptags}}</div>
    {% endfor %}

    <button type='submit' class='btn btn-primary my-3'>{{type}}</button>

</form>


{% endblock content %}