{% extends "base.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div style='width: 30%;margin: auto; color: white;' class="alert mt-3 alert-dismissible fade show {% if message.tags == 'error' %}bg-danger{% elif message.tags == 'success' %}bg-success{% endif %}" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  
{% endif %}


<h2>this profile page</h2>

<p>
    <a href="{% url "update_profile" %}" class='btn btn-primary '>Profile Update</a>
    <a href="{% url "update_pass" %}" class='btn btn-success '>Password Update</a>
</p>

{% endblock content %}